/* https://getbootstrap.com/docs/5.3/components/buttons/#variables */
.btn-primary {
  --bs-btn-color: #4b0082; /*Pour l'écriture du bouton réinitialiser (violet intense pastel)*/
  --bs-btn-bg: #dda0dd; /*Change la couleur du bouton réinitialiser (lavande pastel)*/
  --bs-btn-border-color: #e6e6fa; /*Couleur du bord du bouton réinitialiser (lavande très claire)*/
  --bs-btn-hover-color: #8a2be2; /*Couleur de l'écriture lorsque l'on place la souris dessus le bouton réinitialiser (violet vif pastel)*/
  --bs-btn-hover-bg: #e0bbe4; /*Change la couleur de "l'ombre" du bouton au survol (rose lavande pastel)*/
  --bs-btn-hover-border-color: #b19cd9; /*Change la couleur du tour du bouton lors du survol (violet doux pastel)*/
  --bs-btn-focus-shadow-rgb: 216, 191, 216; /*Ombre violette douce au focus élément actuellement séléctionné (tons lavande)*/
  --bs-btn-active-color: #6a0dad; /*Couleur de l'écriture lorsqu'on clique sur le bouton (violet foncé pastel)*/
  --bs-btn-active-bg: #d8bfd8; /*Change la couleur du bouton réinitialiser lorsqu'il est activé (violet orchidée pastel) mais pas besoin pour le quiz*/
  --bs-btn-active-border-color: #c6a4c9; /*Bordure violet pastel clair pour les états actifs, le tour des touches*/
  --bs-btn-active-shadow: inset 0 3px 5px rgba(186, 85, 211, 0.125); /*Ombre interne douce pour l'état actif (violet doux)*/
  --bs-btn-disabled-color: #9370db; /*Change la couleur du texte du bouton terminer (violet pastel doux)*/
  --bs-btn-disabled-bg: #e0e0f8; /*Changer la couleur du bouton terminer (bleu lavande pastel)*/
  --bs-btn-disabled-border-color: #d1c4e9; /*Couleur de la bordure du bouton terminer (violet pâle pastel)*/
}

